<h1>Tạo Player</h1>
<form [formGroup]="playerForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Champ:</td>
      <td><input type="text" formControlName="champ"></td>
    </tr>
    <tr>
      <td>KDA:</td>
      <td><input type="text" formControlName="kda"></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" formControlName="des"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button>Tạo mới</button>
      </td>
    </tr>
  </table>
</form>
