<p>player-view works!</p>
<table>
  <tr>
    <td>Name:</td>
    <td>{{player.name}}</td>
  </tr>
  <tr>
    <td>Champ:</td>
    <td>{{player.champ}}</td>
  </tr>
  <tr>
    <td>KDA:</td>
    <td>{{player.kda}}</td>
  </tr>
  <tr>
    <td>Description:</td>
    <td>{{player.des}}</td>
  </tr>
  <tr>
    <td><button [routerLink]="['/players/edit',player.id]">Edit</button></td>
    <td><input type="button" (click)="Delete(player.id)" value="Delete"></td>
    <td><a routerLink="/players">Back Player List</a></td>
  </tr>
</table>
